.grid-con{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 90px 90px;
}
h2, .grid-1-p, .grid-1-p2, h3{
  text-align: center;
}
.grid-1, .grid-2{
  padding: 50px 20px;
  width: 500px;
}
.grid-1, .grid-2-con, .grid-2-con2{
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(1px);
  box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.096);
  border-radius: 10px;
}
.grid-1-p{
  margin-bottom: 30px;
  margin-top: 20px;
}
.grid-2-con{
margin-bottom: 50px;
padding: 25px 15px;
}
.grid-2-con2{
padding: 25px 15px;
}
.grid-2-p, .grid-2-p2{
  margin-top: 10px;
}