.project-img{
  width: 100%;
  height: 48%;
}
h4{
  text-align: center;
}
.project-btn{
  padding: 5px; 
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: white;
  border: 1px solid white;
}
.project-con{
  width: 280px;
  height: 315px;
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.144);
}
.project-dis{
  padding: 0px 1px;
}
.pro-dis-p{
  margin: 10px 20%;
}
.pro-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 2% 15%;
}
.project-dis-p{
  margin: 2px 1px;
  text-align: center;
  color: whitesmoke;
}
.port-link-icon{
  margin: 4px 0px 0px 25px;
}