h2, p{
  color: white;
}
.skill-item{
  width: 200px;
  height: 100px;
  padding: 13px 18px;
  background: rgba(255, 255, 255, 0.041);
  box-shadow: 2px 2px 10px -7px rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(1px);
  margin-bottom: 25px;
  border-radius: 5px;
}
.skills-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2% 24%;
}
.skill-bar-fill{
  width: 40px;
  height: 10px;
  background: blue;
  margin: 8px 1px;
  border-radius: 5px;
}
.skill-btn{
  display: flex;
  justify-content: center;
  margin: 0% 32%;
}