.nav{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9;
}
.nav-p{
  color: whitesmoke;
  font-size: 32px;
  padding-left: 7%;
}
span{
  color: rgb(51, 51, 182);
}
.nav-con{
 display: grid;
 grid-template-columns: 1.4fr 2fr;
 gap: 20%;
 z-index: 9;
background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 10px 1px rgba(51, 51, 182, 0.205);
  padding: 15px 20px;
}
.link{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
.link-2{
  display: none;
}
.li{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.li:hover{
  color: rgb(51, 51, 182);
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.toggle{
  display: none;
}



/*  NAVBAR MEDIA */
@media(max-width:1000px){
 .nav-p{
  padding-left: 2%;
}
.nav-con{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 16%;
  padding: 12px 12px;
}
.link{
  gap: 6%;
}
}
@media(max-width:710px){
  .link-2{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 1px;
    max-width: 100%;
    min-height: 90vh;
  }
  .link{
    display: none;
  }
  .toggle{
    display: inline-block;
    all:unset;
    color:white;
    position: relative;
    right: -60%;
  }
  .nav-con{
 display: grid;
 grid-template-columns: 2fr  1fr;
 gap: 5%;
 backdrop-filter: blur(50px);
 background: #121212;
  box-shadow: 5px 5px 10px 1px rgba(51, 51, 182, 0.205);
  padding: 12px 12px;
}
  .nav-p{
    font-size: 28px;
    padding-left: 1%;
  }
  .li{
    font-size: 28px;
  }
}

@media(max-width:400px){
  .link-2{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 1px;
    max-width: 100%;
    height: 100vmin;
  }
  .nav-p{
    font-size: 18px;
  }
  .toggle, .toggle2{
    display: inline-block;
    all:unset;
    color:white;
    position: relative;
    right: -50px;
  }
  .nav-con{
 display: grid;
 grid-template-columns: 2fr  1fr;
 gap: 1%;
  padding: 10px;
  min-width: 50%
}
}