/*  HOME PAGE */
.home-con {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 170px;
}

.home-p {
  margin-left: 20%;
  margin-right: 20%;
}


/*  HOME PAGE MEDIA */
@media(max-width:800px) {
  .home-con {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 160px;
  }

  .home-p {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media(max-width:450px) {
  .home-p {
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 1%;
  }
}




/*  ABOUT PAGE */
.about-con {
  margin-bottom: 130px;
}

.grid-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 90px 90px;
}

.grid-1-p,
.grid-1-p2 {
  text-align: center;
}

.grid-1,
.grid-2 {
  padding: 50px 20px;
  width: 500px;
}

.grid-1:hover {
  transform: scale(1.05);
  transition: 0.5s ease-out;
}

.grid-1,
.grid-2-con,
.grid-2-con2 {
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(1px);
  box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.096);
  border-radius: 10px;
}

.grid-1-p {
  margin-bottom: 30px;
  margin-top: 20px;
}

.grid-2-con {
  margin-bottom: 50px;
  padding: 25px 15px;
}

.grid-2-con2 {
  padding: 25px 15px;
}

.grid-2-con:hover {
  transform: scale(1.05);
  transition: 0.5s ease-out;
}

.grid-2-con2:hover {
  transform: scale(1.05);
  transition: 0.5s ease-out;
}

.grid-2-p,
.grid-2-p2 {
  margin-top: 10px;
}

.about-btn {
  margin-left: 10px;
}


/*  ABOUT PAGE MEDIA */
@media(max-width:1150px) {
  .grid-con {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 50px 20px 20px;
  }

  .about-con h2 {
    margin-bottom: 60px;
  }

  .grid-1,
  .grid-2 {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media(max-width:500px) {

  .grid-1,
  .grid-2 {
    width: 97%;
    margin-bottom: 30px;
  }
}



/* SKILLS PAGE */
.skill-item {
  width: 200px;
  height: 100px;
  padding: 13px 18px;
  background: rgba(255, 255, 255, 0.041);
  box-shadow: 2px 2px 10px -7px rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(1px);
  margin-bottom: 25px;
  border-radius: 5px;
}

.skill-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2% 24%;
}

.skill-bar-fill {
  width: 40px;
  height: 10px;
  background: blue;
  margin: 8px 1px;
  border-radius: 5px;
}

.skill-btn {
  display: flex;
  justify-content: center;
  margin: 2% 32%;
}

.skill-con {
  margin-bottom: 90px;
}



/*  SKILLS PAGE MEDIA */
@media(max-width:1220px) {
  .skill-item {
    margin-bottom: 15px;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1% 10%;
  }
}

@media(max-width:800px) {
  .skill-item {
    margin-bottom: 12px;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1% 4%;
  }
}

@media(max-width:680px) {
  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% 5%;
  }

  .skill-btn {
    margin: 2% 10%;
  }
}
@media(max-width:430px) {
  .skills-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1% 5%;
  }

  .skill-btn {
    margin: 2% 10%;
  }
}



/* PROJECT PAGE */
.project-img {
  width: 100%;
  height: 48%;
}

.project-con,
.project-img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.project-btn {
  padding: 5px;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: white;
  border: 1px solid white;
}

.project-con {
  width: 280px;
  height: 310px;
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(5px);
  margin-bottom: 60px;
  margin-left: 50px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.144);
}

.project-dis {
  padding: 0px 1px;
}

.pro-dis-p {
  margin: 40px 19%;
  text-align: center;
}

.pro-btn {
  margin: 20px 43%;
  margin-bottom: 60px;
}

.pro-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 4% 15%;
  margin-bottom: -20px;
}

.project-dis-p {
  margin: 2px 1px;
  text-align: center;
  color: whitesmoke;
}

.port-link-icon {
  margin: 4px 0px 0px 25px;
}


/*  PROJECT PAGE MEDIA */
@media(max-width:1050px) {
  .pro-con {
    grid-template-columns: 1fr 1fr;
  }

  .pro-btn {
    margin: 20px 35%;
    margin-bottom: 60px;
  }

  .project-dis-p {
    margin: 2px 0px;
    text-align: center;
    color: whitesmoke;
  }
}

@media(max-width:650px) {
  .pro-con {
    grid-template-columns: 1fr;
  }

  .pro-btn {
    margin: 20px 20%;
    margin-bottom: 60px;
  }
  .pro-con {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2% 1%;
  margin-bottom: -10px;
}
.project-con {
  width: 200px;
  height: 300px;
}
}




/* CONTACT PAGE */
.contact-page {
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-self: start;
}

.contact-header-p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0 20%;
}

.grid-1-contact h4 {
  color: rgb(51, 51, 182);
  margin-bottom: 35px;
  margin-top: 30px;
}

.ll {
  text-align: left;
  margin-left: 30px;
}

.info-con {
  margin-bottom: 20px;
}

.grid-2-contact {
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(1px);
  box-shadow: 1px 1px 20px 1px rgba(51, 51, 182, 0.205);
  border-radius: 10px;
  padding: 25px 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Montserrat, sans-serif;
}

textarea {
  background: rgba(8, 8, 37, 0.11);
  backdrop-filter: blur(2px);
  border: none;
  color: white;
  width: 350px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-left: 10px;

}

input {
  background: rgba(8, 8, 37, 0.11);
  backdrop-filter: blur(2px);
  border: none;
  color: white;
  padding: 18px 15px;
  border-radius: 40px;
  margin: 1px 20px;
  width: 350px;
}

label {
  margin: 15px 5px;
  color: white;
}

.spav {
  color: white;
  position: relative;
  bottom: 100px;
}

.contact-link-con {
  margin-top: 80px;
}

.contact-link-con li {
  list-style: none;
}

.contact-link-con a {
  color: white;
}

.contact-link-con a:hover {
  color: rgb(51, 51, 182);
  transform: scale(1.1);
  transition: 0.5s;
}

.contact-link-con h4 {
  margin-bottom: 15px;
}

.contact-link-con ul {
  display: flex;
  margin-left: -70px;
}


/*  CONTACT PAGE MEDIA */
@media(max-width:1130px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

@media(max-width:550px) {
  .grid-2-contact {
  padding: 10px 15px;
  margin-left: 10%;
}
textarea {
  width: 200px;
  padding: 5px ;
  margin-left: 5px;
}

input {
  padding: 8px 5px;
  margin: 1px 10px;
  width: 200px;
}

label {
  margin: 15px 5px;
  color: white;
}
.spav, .spa {
  all:unset;
  margin-bottom: 10px;
  display: block;
}
.contact-header-p {
  padding: 0 1%;
}
}