/*  HOME PAGE */
.home-con{
  text-align: center;
  margin-top: 160px;
  margin-bottom: 170px;
}
.home-p{
  margin-left: 20%;
  margin-right: 20%;
}




/*  ABOUT PAGE */
.about-con{
  margin-bottom: 130px;
}
.grid-con{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 90px 90px;
}
.grid-1-p, .grid-1-p2{
  text-align: center;
}
.grid-1, .grid-2{
  padding: 50px 20px;
  width: 500px;
}
.grid-1:hover{
  transform: scale(1.05);
  transition: 0.5s ease-out;
}
.grid-1, .grid-2-con, .grid-2-con2{
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(1px);
  box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.096);
  border-radius: 10px;
}
.grid-1-p{
  margin-bottom: 30px;
  margin-top: 20px;
}
.grid-2-con{
margin-bottom: 50px;
padding: 25px 15px;
}
.grid-2-con2{
padding: 25px 15px;
}
.grid-2-con:hover{
  transform: scale(1.05);
  transition: 0.5s ease-out;
}
.grid-2-con2:hover{
  transform: scale(1.05);
  transition: 0.5s ease-out;
}
.grid-2-p, .grid-2-p2{
  margin-top: 10px;
}
.about-btn{
  margin-left: 10px;
}


/* SKILLS PAGE */
.skill-item{
  width: 200px;
  height: 100px;
  padding: 13px 18px;
  background: rgba(255, 255, 255, 0.041);
  box-shadow: 2px 2px 10px -7px rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(1px);
  margin-bottom: 25px;
  border-radius: 5px;
}
.skill-item:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.skills-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2% 24%;
}
.skill-bar-fill{
  width: 40px;
  height: 10px;
  background: blue;
  margin: 8px 1px;
  border-radius: 5px;
}
.skill-btn{
  display: flex;
  justify-content: center;
  margin: 2% 32%;
}
.skill-con{
  margin-bottom: 90px;
}

/* PROJECT PAGE */
.project-img{
  width: 100%;
  height: 48%;
}
.project-con, .project-img:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.project-btn{
  padding: 5px; 
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: white;
  border: 1px solid white;
}
.project-con{
  width: 280px;
  height: 310px;
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(5px);
  margin-bottom: 60px;
  margin-left: 50px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.144);
}
.project-dis{
  padding: 0px 1px;
}
.pro-dis-p{
  margin: 40px 19%;
  text-align: center;
}
.pro-btn{
  margin: 20px  43% ;
  margin-bottom: 60px;
}
.pro-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 4% 15%;
  margin-bottom: -20px;
}
.project-dis-p{
  margin: 2px 1px;
  text-align: center;
  color: whitesmoke;
}
.port-link-icon{
  margin: 4px 0px 0px 25px;
}