:root{
  /* FONT-SIZE */
  --h1: 65px;
  --h2: 44px;
  --h3: 32px;
  --h4: 26px;
  --h5: 20px;
  --p: 16px
}
*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container{
  max-width: 1400px;
  width: 100%;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5{
  color: white;
  text-align: center;
}
h1{
  font-size: var(--h1);
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}
h2{
  font-size: var(--h2);
  font-family: Montserrat, sans-serif;
}
h3{
  font-size: var(--h3);
  font-family: Montserrat, sans-serif;
}
h4{
  font-size: var(--h4);
  font-family: Montserrat, sans-serif;
}
h5{
  font-size: var(--h5);
  font-family: Montserrat, sans-serif;
}
p{
  font-size: var(--p);
  color: white;
}
a{
  text-decoration: none;
}

button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;background: transparent;
  color:  rgb(68, 68, 248);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid rgb(51, 51, 182);
}
button:hover{
  transform: scale(1.04);
  transition: 0.5s ;
}

@media(max-width:450px){
 :root{
  /* FONT-SIZE */
  --h1: 48px;
  --h2: 32px;
  --h3: 26px;
  --h4: 20px;
  --h5: 15px;
  --p: 13px
} 
}