:root{
  /* FONT-SIZE */
  --h1: 65px;
  --h2: 44px;
  --h3: 32px;
  --h4: 26px;
  --h5: 20px;
  --p: 16px
}
*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5{
  color: white;
  text-align: center;
}
h1{
  font-size: var(--h1);
  font-weight: 400;
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
p{
  font-size: var(--p);
  color: white;
}

button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;background: transparent;
  color:  rgb(68, 68, 248);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgb(68, 68, 248);
}